.grille-articles{
    margin-top: 20px;
}
.login{
    margin-top: 10%;
}

.formPublication{
    margin-top: 10%;
}

.alert{
    margin-top: 5%;
}

.imgProfil{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.post{
    margin-top: 20px;
}